@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");

@import "tailwindcss";


@theme {
  --font-family: "Nunito", sans-serif;

  --color-primary: #163a34;
  --color-secondary: #395852;

  --color-light-neutral-300: #d0dcd9;
  --color-light-neutral-200: #e0e6e3;
  --color-light-neutral-100: #f6f5f1;
  --color-light-neutral-0: #ffffff;

  --color-orange-500: #fe9f6b;
  --color-green-500: #49ac9b;
  --color-indigo-500: #697ddb;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-light-neutral-100);
  color: var(--color-primary);
}
.logo-img {
  height: 60px;
  width: auto;
  display: block; /* Ensures it renders correctly */
}
.hero-img {
  width: 100%;       
  height: 500px;     
  object-fit: cover; 
  border-radius: 1rem; /* This matches your 'rounded-lg' in the HTML */
}



